.Border{
    margin-left: 10px;
    width:  100px;
    height: 50px;
    border-right: 10px solid red;
    border-left: 10px solid black;
    border-top: 10px solid yellow;
    border-bottom: 10px solid green;
}