.Header{
    display: flex;
    justify-content: center;
}
.Header img {
    background-size: cover;
    width: 600px;
    height: 400px;
    margin-top: 30px;
}

@media (max-width: 690px){
    .Header img{
        margin-top: 10px;
        width: 400px;
        height: 300px;
    }
}