@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
.App {
    color: black;
    font-family: 'PT Serif', serif;
   
}
.App input{
    border-radius: 50px;
    border: 2px solid red;
    outline: none;
}

.App button{
    display: inline-block;
    width: 80px;
    height: 25px;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 10px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #F02F17 52%, #F02F17);
}
.App button:active{
    background: linear-gradient(#F02F17, #F02F17 48%, #F45A38 52%, #FB9575);
}